@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
